<ng-container *ngIf="productList.length>0 else emptyCart">
  <div class="card mb-2" *ngFor="let cartObj of productList; index as i">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <img style="width:50px; height: 50px" src="{{cartObj.product.media?.heroUrl}}">
        </div>
        <div class="col-10 justify-content-between no-gutters row">
          <span class="align-self-center card-title mb-0">{{cartObj.product.name}}</span>
          <button (click)="removeFromList(cartObj.product.id)" title="remove {{cartObj.product.name}}" class="align-self-center remove-product">X</button>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <span class="text-muted card-subtitle">{{cartObj.product.price.value}} x <input type="number" class="item-qty-field"
          [value]="cartObj.qty" (change)="objectCountChanged(cartObj.product.id, $event)"> =
        {{cartObj.product.price.value * cartObj.qty }} {{cartObj.product.price.unit}}</span>
    </div>
  </div>
  <div>
    <span>Total: </span>
    <span>${{totalPrice}}</span>
  </div>
</ng-container>

<ng-template #emptyCart>
  <p class="text-center">
    There's no item in your cart!
  </p>
</ng-template>